<mat-card style="width: 100%">
  <div style="display: flex; justify-content: space-between">
    <div>
      <h3>Tasks</h3>
    </div>
    <div>
      <h3>View all</h3>
    </div>
  </div>
  <div>
    <div style="display: flex; justify-content: space-between; margin: 10px 0">
      <div>Create new task</div>
      <mat-icon svgIcon="add-icon"></mat-icon>
    </div>
    <div>
      <mat-divider></mat-divider>
      <div style="display: flex; justify-content: space-between">
        <mat-checkbox> task </mat-checkbox>
        <div>4238</div>
      </div>
    </div>
  </div>
</mat-card>
