<div class="page-wrapper">
  <div class="flex page-header">
    <div class="page-title">Tasks</div>
    <div class="page-view-button">View all</div>
  </div>
  <div class="page-table">
    <div class="flex">
      <div class="page-table-header">Create new task</div>
      <mat-icon class="network-icon" svgIcon="add-icon"></mat-icon>
    </div>
    <div>
      <mat-divider></mat-divider>
      <div class="flex">
        <mat-checkbox class="ticket-name"> task </mat-checkbox>
        <div class="ticket-number flex">4238</div>
      </div>
    </div>
  </div>
</div>
