@import './assets/theme/default.less';

.ant-card {
  margin: 20px auto;
}

ul {
  padding: 0;
}

.ant-card {
  text-align: center;
  border: none;
}

.ant-btn {
  width: 50%;
  margin: 40px auto 0;
}

.ant-modal-footer {
  display: none;
}

.ant-select {
  width: 100%;
}

p[ng-reflect-router-link], h3[ng-reflect-router-link], li[ng-reflect-router-link], .anticon {
  cursor: pointer;
}