<nb-card>
  <nb-card-header> Clients </nb-card-header>
  <nb-card-body>
    <div style="display: flex; justify-content: space-between; margin: 30px 0">
      <p>All tickets</p>
      <div style="display: flex; justify-content: space-between">
        <img
          (click)="open(dialog)"
          src="./assets/icons/plus-icon.svg"
          style="width: 20px; height: 20px"
        />
        <img
          src="./assets/icons/filter-icon.svg"
          style="width: 20px; height: 20px"
        />
      </div>
    </div>
    <table style="width: 100%">
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
      </tr>
      <tr *ngFor="let data of ticketsArray">
        <td>{{ data.ticketDetails }}</td>
        <td>{{ data.customerName }}</td>
        <td>{{ data.date }}</td>
        <td>{{ data.priority }}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef">
  <nb-card style="width: 70vh; height: 50vh">
    <nb-card-header>Add new ticket</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div style="display: flex; justify-content: space-between">
          <div class="form-control-group login-form-margin">
            <input
              nbInput
              fullWidth
              placeholder="Ticket details"
              autofocus
              formControlName="ticketDetails"
            />
          </div>
          <div class="form-control-group login-form-margin">
            <input
              nbInput
              fullWidth
              placeholder="Customer name"
              autofocus
              formControlName="customerName"
            />
          </div>
        </div>

        <div style="display: flex; justify-content: space-between">
          <div class="form-control-group login-form-margin">
            <input
              nbInput
              fullWidth
              placeholder="Date"
              type="date"
              autofocus
              formControlName="date"
            />
          </div>
          <nb-select placeholder="Priority" formControlName="priority">
            <nb-option *ngFor="let priority of priorities" [value]="priority">{{
              priority
            }}</nb-option>
          </nb-select>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer style="display: flex; justify-content: space-around">
      <button nbButton (click)="addTicket()">Add</button>
      <button nbButton (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
