<div class="p-5 w-full border border-solid rounded-lg border-slate-300">
  <div class="flex justify-between">
    <div class="text-lg font-semibold text-color">Tasks</div>
    <div class="text-base font-semibold text-sky-600">View all</div>
  </div>
  <div class="mt-6">
    <div class="flex justify-between">
      <div class="text-base font-bold text-gray-500">Create new task</div>
      <img
        src="./assets/icons/add-icon.svg"
        class="cursor-pointer"
        (click)="showModalDialog()"
      />
    </div>
    <div class="mt-4" *ngFor="let task of tasks">
      <hr />
      <div class="flex justify-between mt-4">
        <div class="flex items-center mb-4">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
          />
          <label
            for="default-checkbox"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >{{ task.taskName }}</label
          >
        </div>
        <div class="text-sm">{{ task.taskStatus }}</div>
      </div>
    </div>
  </div>
</div>

<office-app-dashboard-task-dialog
  *ngIf="displayModal"
  (isModalClosed)="closeAccountModal($event)"
></office-app-dashboard-task-dialog>
