.page-wrapper {
  padding: 70px 45px;
  .page-table {
    margin-top: 50px;

    .page-table-header {
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    .page-table-buttons {
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      width: 18%;
      display: flex;
      justify-content: space-between;
    }
    .table-button:hover,
    mat-icon:hover {
      cursor: pointer;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

mat-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

