<div style="padding: 70px 45px">
  <h2>Clients</h2>
  <mat-card style="width: 100%">
    <div style="display: flex; justify-content: space-between">
      <h3>All tickets</h3>
      <div style="display: flex; justify-content: space-between">
        <div
          style="display: flex; justify-content: space-between"
          (click)="openDialog()"
        >
          <mat-icon svgIcon="plus-icon"></mat-icon>
          <div>Add</div>
        </div>
        <div style="display: flex; justify-content: space-between">
          <mat-icon svgIcon="filter-icon"></mat-icon>
          <div>Filter</div>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>Ticket details</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ticketDetails }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Customer name</th>
          <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card>
</div>
