.page-wrapper {
  .header-text {
    margin: 20px 0;
    text-align: center;
    .text-welcome {
      font-weight: 700;
      font-size: 36px;
      line-height: 66px;
    }
    .text {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      &:hover {
        cursor: pointer;
      }
    }
    .text-login {
      margin-bottom: 5px;
    }
  }

  .form-section {
    .action-row {
      margin: 75px 0 0 0;
      display: flex;
      justify-content: center;
    }
    .networks-icons {
      display: flex;
      justify-content: space-between;
      width: 20%;
      margin: 30px auto 0;
      .network-icon:hover {
        cursor: pointer;
      }
    }
  }

  @media (min-width: 500px) {
    margin: 30px auto 0 auto;
    width: 500px;
  }
}
