<mat-card class="page-wrapper">
  <mat-card class="notification-error" *ngIf="errorMessage">
    <h3>Error</h3>
    <p>{{errorMessage}}</p></mat-card>
  <div fxLayoutAlign="center" class="header-text">
    <div class="text-welcome">
      Register <br />
      your account
    </div>
    <div class="text">
      If you already have an account, just log in to use the system
    </div>
    <div class="text text-login" routerLink="/login">Log in here</div>
  </div>

  <form [formGroup]="form" class="form-section">
    <div class="field-row-item">
      <mat-form-field floatLabel="auto">
        <mat-icon matPrefix class="input-icon">person_outline</mat-icon>
        <input
          type="text"
          placeholder="Name"
          formControlName="name"
          autocomplete="off"
          matInput
        />
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Enter your name</mat-error
        >
      </mat-form-field>
      <mat-form-field floatLabel="auto">
        <mat-icon matPrefix class="input-icon">email</mat-icon>
        <input
          type="text"
          placeholder="Login"
          formControlName="email"
          autocomplete="off"
          matInput
        />
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Login is required</mat-error
        >
        <mat-error
          *ngIf="
            !form.controls['email'].hasError('required') &&
            form.controls['email'].hasError('email')
          "
        >
          Please enter a valid Login</mat-error
        >
      </mat-form-field>
    </div>
    <div class="field-row-item">
      <mat-form-field floatLabel="auto">
        <mat-icon matPrefix class="input-icon">lock</mat-icon>
        <input
          type="password"
          placeholder="Password"
          [type]="toggleShowPassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="off"
          matInput
        />
        <mat-icon
          (click)="toggleShowPassword = !toggleShowPassword"
          class="input-icon"
          matSuffix
        >
          {{ toggleShowPassword ? 'visibility_off' : 'visibility' }}</mat-icon
        >
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Enter your password</mat-error
        >
      </mat-form-field>
    </div>
    <div class="action-row">
      <button
        color="primary"
        class="register-btn"
        [disabled]="isValidForm()"
        mat-raised-button
        (click)="onSubmit()"
      >
        Register
      </button>
    </div>
    <div class="networks-icons">
      <mat-icon class="network-icon" svgIcon="facebook-icon"></mat-icon>
      <mat-icon class="network-icon" svgIcon="google-icon"></mat-icon>
    </div>
  </form>
</mat-card>
