<div class="p-3 w-12 border-1 border-gray-300 border-round-lg">
  <div class="flex justify-content-between">
    <div class="text-lg font-semibold text-color">Unresolved tickets</div>
    <div class="text-base font-semibold text-blue-600">View details</div>
  </div>

  <div class="mt-6">
    <div>
      <div class="flex justify-content-between">
        <div class="p-field-checkbox">
          <p-checkbox inputId="check"></p-checkbox>
          <label for="check" class="text-xs font-bold"
            >Waiting on Feature Request</label
          >
        </div>
        <div class="text-xs text-gray-600 font-medium">3345</div>
      </div>
      <p-divider></p-divider>
    </div>
  </div>
</div>
