<div class="p-3 w-12 border-1 border-gray-300 border-round-lg">
  <div class="flex justify-content-between">
    <div class="text-lg font-semibold text-color">Unresolved tickets</div>
    <div class="text-base font-semibold text-blue-600">View details</div>
  </div>

  <div class="mt-6">
    <div class="flex justify-content-between">
      <div class="text-base font-bold text-gray-500">Create new ticket</div>
      <img
        src="./assets/icons/add-icon.svg"
        class="cursor-pointer"
        (click)="showModalDialog()"
      />
    </div>
    <div *ngFor="let ticket of unresolvedTickets">
      <p-divider></p-divider>
      <div class="flex justify-content-between">
        <div class="p-field-checkbox">
          <p-checkbox inputId="check"></p-checkbox>
          <label for="check" class="text-xs font-bold">{{
            ticket.ticketName
          }}</label>
        </div>
        <div class="text-base font-bold">{{ ticket.ticketNumber }}</div>
      </div>
    </div>
  </div>
</div>

<office-app-dashboard-ticket-dialog
  *ngIf="displayModal"
  (isModalClosed)="closeAccountModal($event)"
></office-app-dashboard-ticket-dialog>
