.side-menu {
  .user-data {
    .user-image {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
    .user-name {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .user-role {
      font-weight: 300;
      font-size: 12px;
    }
  }
  .menu-list {
    margin-top: 40px;
  }
}
.logout {
  margin-top: 100px;
  display: flex;
  align-items: center;
  .logout-text {
    font-size: 12px;
    margin-left: 15px;
  }
  .logout-icon {
    width: 26px;
    height: 26px;
  }
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 35px;
}

.flex {
  display: flex;
  justify-content: center;
}

.file-upload {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.mdc-list-item--with-leading-avatar .mdc-list-item__start {
  margin-left: 0;
  width: 20px;
  height: 20px;
}
