<div nz-row>
  <div nz-col nzSpan="8" nzOffset="8">
    <form nz-form [formGroup]="form">
      <nz-card
        style="width: 300px"
        *ngIf="message | async as message"
        [nzTitle]="message"
      >
      </nz-card>
      <h1>Enter new password</h1>
      <h3 routerLink="/login">Or Login here</h3>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="isPasswordMatch"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row>
        <button
          nz-button
          [disabled]="isValidForm()"
          nzType="primary"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
