<form nz-form [formGroup]="form" class="login-form">
  <nz-card
    style="width: 300px"
    *ngIf="message | async as message"
    [nzTitle]="message"
  >
  </nz-card>
  <h1>Enter new password</h1>
  <h3 routerLink="/login">Or Login here</h3>
  <nz-form-item class="form-item">
    <nz-form-control nzErrorTip="Please input your password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="form-item">
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="isPasswordMatch"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <button
      nz-button
      [disabled]="isValidForm()"
      (click)="onSubmit()"
      class="login-form-button login-form-margin"
    >
      Submit
    </button>
  </div>
</form>
