<mat-card class="login-wrapper">
  <mat-card class="notification-error" *ngIf="message | async as message">
    <h3>Notification</h3>
    <p>{{ message }}</p>
  </mat-card>
  <div fxLayoutAlign="center" class="header-text">
    <div class="text-welcome">
      Enter <br />
      new password
    </div>
    <div class="text text-register" routerLink="/login">Or Login here</div>
  </div>

  <form [formGroup]="form" class="form-section">
    <div class="field-row-item">
      <mat-form-field floatLabel="auto">
        <mat-icon matPrefix class="input-icon">lock</mat-icon>
        <input
          type="password"
          placeholder="Password"
          [type]="toggleShowPassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="off"
          matInput
        />
        <mat-icon
          (click)="toggleShowPassword = !toggleShowPassword"
          class="input-icon"
          matSuffix
        >
          {{ toggleShowPassword ? 'visibility_off' : 'visibility' }}</mat-icon
        >
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Enter your password</mat-error
        >
      </mat-form-field>
    </div>
    <div class="field-row-item">
      <mat-form-field floatLabel="auto">
        <mat-icon matPrefix class="input-icon">lock</mat-icon>
        <input
          type="password"
          placeholder="Password"
          [type]="toggleShowPassword ? 'password' : 'text'"
          formControlName="approvePassword"
          autocomplete="off"
          matInput
        />
        <mat-icon
          (click)="toggleShowPassword = !toggleShowPassword"
          class="input-icon"
          matSuffix
        >
          {{ toggleShowPassword ? 'visibility_off' : 'visibility' }}</mat-icon
        >
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Enter your password</mat-error
        >
      </mat-form-field>
    </div>
    <div class="action-row">
      <button
        color="primary"
        class="login-btn"
        [disabled]="isValidForm()"
        (click)="onSubmit()"
        mat-raised-button
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
