<div class="p-5 w-full border border-solid rounded-lg border-slate-300">
  <div class="flex justify-between">
    <div class="text-lg font-semibold text-color">Unresolved tickets</div>
    <div class="text-base font-semibold text-sky-700">View details</div>
  </div>
  <div class="mt-10">
    <div class="mt-10">
      <div class="flex justify-between">
        <div class="flex items-center mb-4">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
          />
          <label
            for="default-checkbox"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Finish ticket update</label
          >
        </div>
        <div class="text-xs text-gray-600 font-medium">3345</div>
      </div>
    </div>
  </div>
</div>
