<div class="p-5 w-full border border-solid rounded-lg border-slate-300">
  <div class="flex justify-between">
    <div class="text-lg font-semibold text-color">Unresolved tickets</div>
    <div class="text-base font-semibold text-sky-700">View details</div>
  </div>
  <div class="mt-8">
    <div>
      <div class="flex justify-between">
        <div class="text-base font-bold text-gray-500">Create new ticket</div>
        <img
          src="./assets/icons/add-icon.svg"
          class="cursor-pointer"
          (click)="showModalDialog()"
        />
      </div>
      <div class="mt-4" *ngFor="let ticket of unresolvedTickets">
        <hr />
        <div class="flex justify-between mt-4">
          <div class="flex items-center mb-4">
            <input
              id="default-checkbox"
              type="checkbox"
              value=""
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
            />
            <label
              for="default-checkbox"
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ ticket.ticketName }}</label
            >
          </div>
          <div class="text-xs text-gray-600 font-medium">
            {{ ticket.ticketNumber }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<office-app-dashboard-ticket-dialog
  *ngIf="displayModal"
  (isModalClosed)="closeAccountModal($event)"
></office-app-dashboard-ticket-dialog>
