<section class="h-screen justify-center w-full">
  <div class="flex justify-center items-center flex-wrap h-full g-6">
    <div
      class="max-w-sm rounded overflow-hidden shadow-lg p-1"
      *ngIf="message | async as message"
    >
      <h3 class="text-lg mb-2">Notification</h3>
      <p class="text-base mb-2">{{ message }}</p>
    </div>
    <div class="mt-2">
      <div class="text-4xl mb-3 font-semibold w-full text-center">
        Enter <br />
        new password
      </div>
      <div class="text-center text-base font-light" routerLink="/login">
        Or Login here
      </div>
      <form [formGroup]="form" class="mt-7 w-full m-auto">
        <div class="my-6">
          <input
            id="password"
            [type]="toggleShowPassword ? 'password' : 'text'"
            class="form-control block w-full px-4 py-2 text-base bg-white border border-solid border-gray-300"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div class="my-6">
          <input
            id="password"
            [type]="toggleShowPassword ? 'password' : 'text'"
            class="form-control block w-full px-4 py-2 text-base bg-white border border-solid border-gray-300"
            formControlName="isPasswordMatch"
            placeholder="Repeat Password"
          />
        </div>
        <div class="flex justify-center">
          <button
            class="px-10 py-3 bg-yellow-400 text-white text-sm rounded-3xl"
            class="w-full bg-yellow-300 border-round-3xl mt-4 font-normal"
            [disabled]="isValidForm()"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
