@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './assets/themes/theme.scss';
@import './assets/themes/customize';
@import './assets/themes/palettes.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
}

input[type='file'] {
  display: none;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);
$warn: map-get($custom-theme, warn);

mat-form-field {
  width: 100%;
}

.notification-error {
  min-height: 50px;
  text-align: center;
  color: mat.get-color-from-palette($warn, 400);
  padding: 10px;
}

mat-flat-button,
button {
  width: 186px;
  height: 52px;
  border-radius: 38px;
  margin: auto;
  color: mat.get-color-from-palette($primary);
}

mat-sidenav {
  padding: 5%;
}

.mat-mdc-list-item .mdc-list-item__primary-text {
  font-size: 12px;
}
