<p-dialog
  header="Add new task"
  [modal]="true"
  [style]="{ width: '50vw', height: '300px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [visible]="isModalVisible"
  [closable]="true"
  class="text-center m-auto"
>
  <div>
    <form [formGroup]="form" class="px-4 h-full">
      <div class="flex align-items-center justify-content-between mt-5 px-0">
        <div class="w-5">
          <span class="w-full">
            <input
              type="text"
              pInputText
              class="w-full border-round-3xl"
              placeholder="Task's name"
              formControlName="taskName"
            />
          </span>
        </div>
        <div class="w-5">
          <p-dropdown
            [options]="statuses"
            placeholder="Choose status"
            optionLabel="name"
            class="w-full border-round-3xl"
            formControlName="taskStatus"
          ></p-dropdown>
        </div>
      </div>
    </form>
  </div>
  <div class="mt-6 mb-4">
    <div class="flex w-8 m-auto justify-content-between">
      <button
        (click)="addTask()"
        label="Add"
        class="bg-primary border-round-3xl w-5"
        pButton
      ></button>
      <button
        (click)="closeModal()"
        label="Cancel"
        class="bg-red-400 border-round-3xl w-5"
        pButton
      ></button>
    </div>
  </div>
</p-dialog>
