<div class="mt-8">
  <p-card class="w-3 m-auto" *ngIf="message | async as message">
    <h3 class="text-lg mb-2">Notification</h3>
    <p class="text-base mb-2">{{ message }}</p>
  </p-card>
  <div class="mt-5">
    <div class="text-4xl mb-3 font-semibold w-full text-center">
      Enter <br />
      new password
    </div>
    <div class="text-center text-base font-light" routerLink="/login">
      Or Login here
    </div>
    <form [formGroup]="form" class="mt-7 w-5 m-auto">
      <span
        class="p-input-icon-left p-input-icon-right mt-4"
      >
        <i class="pi pi-lock"></i>
        <input
          id="password"
          [type]="toggleShowPassword ? 'password' : 'text'"
          pInputText
          class="w-full mb-3 border-round-3xl"
          formControlName="password"
          icon="pi pi-user"
          placeholder="Password"
        />
        <i
          [ngClass]="toggleShowPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
          (click)="toggleShowPassword = !toggleShowPassword"
        ></i>
      </span>
      <span
        class="p-input-icon-left p-input-icon-right mt-4"
      >
        <i class="pi pi-lock"></i>
        <input
          id="password"
          [type]="toggleShowPassword ? 'password' : 'text'"
          pInputText
          class="w-full mb-3 border-round-3xl"
          formControlName="isPasswordMatch"
          icon="pi pi-user"
          placeholder="Repeat Password"
        />
        <i
          [ngClass]="toggleShowPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
          (click)="toggleShowPassword = !toggleShowPassword"
        ></i>
      </span>
      <div
        class="flex justify-content-center mt-2"
      >
        <button
          pButton
          pRipple
          label="Submit"
          class="w-4 bg-primary border-round-3xl mt-4 font-normal"
          [disabled]="isValidForm()"
          (click)="onSubmit()"
        ></button>
      </div>
    </form>
  </div>
</div>
