.login-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .header-text {
    margin: 20px 0;
    .text-welcome {
      font-weight: 700;
      font-size: 36px;
      line-height: 66px;
      margin: auto;
    }
    .text {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      margin: 5px auto;
      &:hover {
        cursor: pointer;
      }
    }
    .text-register {
      margin-bottom: 5px;
    }
  }

  .form-section {
    .field-row-item {
      margin: 20px 0 0 0;
    }
    .login-setup {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      .check {
        font-size: 12px;
      }
      .reset-password {
        display: flex;
        align-items: center;
        font-size: 14px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .action-row {
      margin: 30px 0 0 0;
      display: flex;
      justify-content: center;
    }
    .networks-icons {
      display: flex;
      justify-content: space-between;
      width: 20%;
      margin: 30px auto 0;
      .network-icon:hover {
        cursor: pointer;
      }
    }
  }

  @media (min-width: 500px) {
    margin: 30px auto 0 auto;
    width: 500px;
  }
}
