.dashboard-wrapper {
  padding: 70px 45px;
  .title {
    margin-bottom: 40px;
  }
  .dashboard-chart {
    margin: 35px 0;
  }
  .dashboard-tables {
    display: flex;
    justify-content: space-between;
    .dashboard-tables-side {
      width: 48%;
    }
  }
}
