<nb-card>
  <div class="header-text">
    <h1>
      Login <br />
      to account
    </h1>
    <p>If you already have an account, just log in to use the system</p>
    <p>Don't have an account?</p>
    <p routerLink="/register">Register here</p>
  </div>

  <form [formGroup]="form" class="form-section">
    <div class="field-row-item">
      <div class="form-control-group login-form-margin">
        <input
          nbInput
          fullWidth
          pattern=".+@.+\..+"
          placeholder="Login"
          autofocus
          formControlName="name"
        />
      </div>

      <div class="form-control-group login-form-margin">
        <input
          nbInput
          fullWidth
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </div>
      <div class="login-setup">
        <div class="form-control-group accept-group">
          <nb-checkbox formControlName="check">Remember me</nb-checkbox>
        </div>
        <div>
          <a class="color-primary-500" (click)="resetPassword = !resetPassword"
            >Forgot Password?</a
          >
        </div>
      </div>
      <nb-card *ngIf="resetPassword">
        <nb-card-body>
          <nb-card-header
            ><h4>
              Please enter your login to reset your password
            </h4></nb-card-header
          >

          <form [formGroup]="form">
            <div class="form-control-group login-form-margin">
              <input
                nbInput
                fullWidth
                pattern=".+@.+\..+"
                placeholder="Email"
                autofocus
                formControlName="resetPassword"
              />
            </div>
            <div class="action-row">
              <button
                nbButton
                fullWidth
                (click)="forgetPassword()"
                class="login-btn color-primary-500"
              >
                Submit
              </button>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
      <div class="action-row">
        <button nbButton fullWidth (click)="onSubmit()" class="login-btn">
          Log In
        </button>
      </div>
      <div class="networks-icons">
        <nb-icon (click)="onSignInWithFacebook()" icon="google"></nb-icon>
        <nb-icon (click)="onSignInWithGoogle()" icon="facebook"></nb-icon>
      </div>
    </div>
  </form>
</nb-card>
