<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Add new ticket"
  (nzOnCancel)="closeModal()"
  [nzOkDisabled]="true"
>
  <ng-container *nzModalContent>
    <div>
      <form [formGroup]="form" nz-form>
        <div nz-row nzJustify="space-evenly">
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-input-group>
                <input
                  type="text"
                  nz-input
                  formControlName="ticketName"
                  placeholder="Ticket name"
                />
              </nz-input-group>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-input-group>
                <input
                  type="number"
                  nz-input
                  formControlName="ticketNumber"
                  placeholder="Ticket number"
                />
              </nz-input-group>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <button
            nz-col
            nzSpan="6"
            nzOffset="9"
            nz-button
            nzType="primary"
            (click)="addUnresolvedTicket()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</nz-modal>
