<div nz-row>
  <div nz-col nzSpan="5" nzOffset="1">
    <div nzOffset="2">
      <nz-space nzDirection="vertical" nzSize="large">
        <div *nzSpaceItem>
          <div *ngIf="imageUrl | async as url; else defaultImage">
            <img
              [src]="url"
              alt="Profile photo"
              style="width: 60px; height: 60px; border-radius: 50%"
            />
          </div>
          <ng-template #defaultImage>
            <img
              src="./assets/icons/unknown-user.png"
              alt="Profile photo"
              style="width: 60px; height: 60px; border-radius: 50%"
            />
          </ng-template>
        </div>
        <div *nzSpaceItem>
          <nz-upload [nzDisabled]="false" (nzChange)="uploadPhoto($event)">
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              Click to Upload
            </button>
          </nz-upload>
        </div>
        <div *nzSpaceItem>
          <h2>{{ userName }}</h2>
          <p>Admin</p>
        </div>
        <div *nzSpaceItem>
          <ul>
            <li
              *ngFor="let item of menuItems"
              nz-row
              [routerLink]="item.url"
              [style]="item.styles"
            >
              <img [src]="item.image" />
              <div>{{ item.name }}</div>
            </li>
          </ul>
        </div>
        <div *nzSpaceItem (click)="onLogout()">
          <span
            nz-col
            nzSpan="6"
            nz-icon
            nzType="logout"
            nzTheme="outline"
            style="font-size: 28px; margin-top: 10px"
          ></span>
          <a>Log out</a>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzSpan="18">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
