<div nz-row>
  <div nz-col nzSpan="5" nzOffset="1">
    <div nzOffset="2">
      <nz-space nzDirection="vertical" nzSize="large">
        <div *nzSpaceItem>
          <div *ngIf="imageUrl | async as url; else defaultImage">
            <img
              [src]="url"
              alt="Profile photo"
              style="width: 60px; height: 60px; border-radius: 50%"
            />
          </div>
          <ng-template #defaultImage>
            <img src="./assets/icons/unknown-user.png" alt="Profile photo" />
          </ng-template>
        </div>
        <div *nzSpaceItem>
          <h2>{{ userName }}</h2>
          <p>Admin</p>
        </div>
        <div *nzSpaceItem>
          <ul>
            <li *ngFor="let item of menuItems" nz-row [routerLink]="item.url">
              <img [src]="item.image" />
              <div>{{ item.name }}</div>
            </li>
          </ul>
        </div>
        <div *nzSpaceItem nz-row (click)="onLogout()">
          <img src="./assets/icons/logout-icon.png" />
          <div>Log out</div>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzSpan="18">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
