.page-header {
  .page-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
  .page-view-button {
    font-weight: 600;
    font-size: 14px;
  }
}
.page-table {
  margin-top: 40px;
  .ticket-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
  .ticket-number {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
mat-divider {
  margin-top: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
