<div style="border: 1px solid #dfe0eb; padding: 20px">
  <div nz-row>
    <div nz-col nzSpan="22">
      <div>Tasks</div>
    </div>
    <div nz-col nzSpan="6">
      <div>View all</div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="22">Create new task</div>
    <div nz-col nzSpan="2">
      <img src="./assets/icons/add-icon.svg" />
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <div>
      <label nz-checkbox>Finish ticket update</label>
    </div>
  </div>
</div>
