<nb-card style="width: 60%">
  <nb-card-body class="example-items-col">
    <form [formGroup]="form">
      <nb-card style="width: 300px" *ngIf="message | async as message">
        <nb-card-body>
          {{ message }}
        </nb-card-body>
      </nb-card>
      <h1>Enter new password</h1>
      <h3 routerLink="/login">Or Login here</h3>
      <div>
        <input
          nbInput
          fullWidth
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <div>
        <input
          nbInput
          fullWidth
          type="password"
          formControlName="isPasswordMatch"
          placeholder="Password"
        />
      </div>
      <button
        nbButton
        fullWidth
        [disabled]="isValidForm()"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>
  </nb-card-body>
</nb-card>
